@model BeautyBooking.Web.ViewModels.Appointments.AppointmentsListViewModel
@{
    this.ViewData["Title"] = "Your Appointments";
}

@if (@Model.Appointments.Count() == 0)
{
    <div class="row">
        <div class="col-lg-4 ml-lg-5">
            <div class="about_text_2">
                <p>
                    Oh, no! Nothing booked yet...
                </p>
            </div>
            <div class="about_text_highlight">
                Book an appointment in 3 easy steps:
            </div>
            <div class="about_text_highlight">
                <ol>
                    <li>Find a salon.</li>
                    <li>Choose a beauty service.</li>
                    <li>Pick date and time.</li>
                </ol>
            </div>
            <div class="about_text_2">
                <p>
                    Waiting you back here. :)
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 ml-lg-5">
            <div class="button button-large button_1 elements_button mt-4">
                <a asp-area="" asp-controller="Salons" asp-action="Index">
                    <span>Find Salons</span>
                    <span>Find Salons</span>
                </a>
            </div>
        </div>
    </div>
}

@if (@Model.Appointments.Count() > 0)
{
    <h2>Upcoming (@Model.Appointments.Count())</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date and Time</th>
                <th scope="col">Status <span class="text-info">*</span></th>
                <th scope="col">Salon</th>
                <th scope="col">Address</th>
                <th scope="col">Service</th>
                <th scope="col">Cancelation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in this.Model.Appointments)
            {
                <tr>
                    <th scope="row">@appointment.DateTime.ToString("f")</th>
                    <td>
                        @if (appointment.Confirmed == true)
                        {
                            <span class="badge badge-success">Confirmed</span>
                        }
                        else if (appointment.Confirmed == false)
                        {
                            <span class="badge badge-danger">Declined</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Pending</span>
                        }
                    </td>
                    <td>@appointment.SalonName</td>
                    <td>@appointment.SalonCityName, @appointment.SalonAddress</td>
                    <td>@appointment.ServiceName</td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm"
                           asp-area="" asp-controller="Appointments" asp-action="CancelAppointment" asp-route-id="@appointment.Id">
                            Cancel
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-10 ml-lg-5">
            <div class="about_text_highlight">
                <span class="text-info">*</span> Status
            </div>
            <div class="about_text_2">
                <ol>
                    <li>
                        <span class="badge badge-secondary">Pending</span>
                        - Waiting for the Salon's reply.
                    </li>
                    <li>
                        <span class="badge badge-success">Confirmed</span>
                        - Good! Your appointment is confirmed.
                        They are expecting you on the set date and time.
                    </li>
                    <li>
                        <span class="badge badge-danger">Declined</span>
                        - Sorry, the appointment can't happen on the set date and time.
                        Check your email for rescheduling options from the Salon.
                    </li>
                </ol>
                <ul>
                    <li>Or you can just <strong>book again.</strong> Remember the steps, right?</li>
                    <li>Go find a salon, choose a service and pick date and time.</li>
                    <li>
                        <div class="button button-large button_1 elements_button mt-4">
                            <a asp-area="" asp-controller="Salons" asp-action="Index">
                                <span>Find Salons</span>
                                <span>Find Salons</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<hr class="bg-dark m-4" style="height: 6px;" />

<div>
    @await Component.InvokeAsync("PastAppointments")
</div>
