@model BeautyBooking.Web.ViewModels.Manager.Salons.SalonsListViewModel
@{
    this.ViewData["Title"] = "Salon Manager";
}

<div class="row doctors_row row-eq-height">

    @foreach (var salon in Model.Salons)
    {
        <!-- Doctor -->
        <div class="col-xl-2 col-md-2">
            <div class="doctor">
                <div class="doctor_image"><img src="@salon.ImageUrl" alt=""></div>
                <div class="doctor_content">
                    <div class="doctor_name"><a asp-area="" asp-controller="Salons" asp-action="Details" asp-route-id="@salon.Id">@salon.Name</a></div>
                    <div class="doctor_title"><strong>@salon.CategoryName</strong></div>
                    <div class="doctor_title">@salon.CityName, @salon.Address</div>                    
                    <div class="doctor_link"><a asp-area="Manager" asp-controller="Salons" asp-action="Details" asp-route-id="@salon.Id">+</a></div>
                </div>
            </div>
        </div>
    }

</div>

