@model BeautyBooking.Web.ViewModels.Administration.Dashboard.AdminCategoriesViewModel
@{
    this.ViewData["Title"] = "Manage Categories";
}

<h1>All Categories (@Model.Categories.Count())</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Salons</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in this.Model.Categories)
            {
            <tr>
                <th scope="row">@category.Name</th>
                <td>
                    <img class="align-self-center" src="@category.ImageUrl" style="width:100px;height:100px;">
                </td>
                <td>@category.Description</td>
                <td>@category.SalonsCount</td>                
                <td>
                    <div class="button button_2 elements_button">
                        <a asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteCategory" asp-route-id="@category.Id"><span>Delete</span><span>Delete</span></a>
                    </div>
                </td>
            </tr>
            }
            <tr>
                <th scope="row">
                    <div class="button button-large button_1 elements_button">
                        <a asp-area="Administration" asp-controller="Dashboard" asp-action="AddCategory">
                            <span>Add New Category</span><span>Add New Category</span>
                        </a>
                    </div>
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>