@model BeautyBooking.Web.ViewModels.Administration.Categories.CategoriesListViewModel
@using BeautyBooking.Common
@{
    this.ViewData["Title"] = "Manage Categories";
}

<h1>All Categories (@Model.Categories.Count())</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Services</th>
            <th scope="col">Salons</th>
            <th scope="col">Delete Button</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in this.Model.Categories)
            {
        <tr>
            <th scope="row">@category.Name</th>
            <td>
                <img class="align-self-center" src="@category.ImageUrl" style="width:180px;height:120px;">
            </td>
            <td>@category.Description</td>
            <td>@category.ServicesCount</td>
            <td>@category.SalonsCount</td>
            <td>
                @if (category.Id <= GlobalConstants.SeededDataCounts.Categories)
                {
                <div class="button button_2 elements_button">
                    <a>Seeded Data Cannot be Deleted</a>
                </div>
                }
                else
                {
            <div class="button button_2 elements_button">
                <a asp-area="Administration" asp-controller="Categories" asp-action="DeleteCategory" asp-route-id="@category.Id"><span>Delete</span><span>Delete</span></a>
            </div>
                }
            </td>
        </tr>
            }
        <tr>
            <th scope="row">
                <div class="button button-large button_1 elements_button">
                    <a asp-area="Administration" asp-controller="Categories" asp-action="AddCategory">
                        <span>Add New Category</span><span>Add New Category</span>
                    </a>
                </div>
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>