@using BeautyBooking.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/responsive.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/responsive.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @this.RenderSection("Styles", required: false)
</head>
<body>
    
    <partial name="_CookieConsentPartial" />
    
    <div class="super_container">

        <!-- Menu -->
        <partial name="_MenuPartial" />

        <!-- Home -->
        @if (this.ViewData["Title"].ToString() == "Home Page")
        {
            <div class="home-home">
                <div class="background_image" style="background-image:url(@GlobalConstants.Images.Index)"></div>

                <partial name="_HeaderPartial" />

                <div class="home_container-home">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="home_title-home">BEAUTY BOOKING</div>
                                <div class="home_text">The only right way to find and book your beauty services!</div>
                                <div class="button home_button">
                                    <a asp-area="" asp-controller="Salons" asp-action="Index"><span>Book Now</span><span>Book Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="home">
                <div class="background_image" style="background-image:url(@GlobalConstants.Images.CoverBackground)"></div>

                <partial name="_HeaderPartial" />

                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content">
                                    <div class="home_title">@this.ViewData["Title"]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="m-5">
            <main role="main">
                @this.RenderBody()
            </main>
        </div>

        <!-- Footer -->
        <partial name="_FooterPartial" />
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/js/popper.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js" asp-append-version="true"></script>
        <script src="~/plugins/easing/easing.js" asp-append-version="true"></script>
        <script src="~/plugins/parallax-js-master/parallax.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/js/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js" asp-append-version="true"></script>
        <script src="~/plugins/easing/easing.js" asp-append-version="true"></script>
        <script src="~/plugins/parallax-js-master/parallax.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
