@using BeautyBooking.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
        <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
        <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
        <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
        <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
    </environment>
</head>
<body>
    <div class="super_container">

        <!-- Menu -->
        <partial name="_MenuPartial" />

        <!-- Home -->
        @if (this.ViewData["Title"].ToString() == "Home Page")
        {
            <div class="home-home">
                <div class="background_image" style="background-image:url(https://res.cloudinary.com/beauty-booking/image/upload/v1586874219/index_iyfzwc.jpg)"></div>

                <partial name="_HeaderPartial" />

                <div class="home_container-home">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_title-home">Welcome to @GlobalConstants.SystemName!</div>
                                <div class="home_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</div>
                                <div class="button home_button"><a href="#"><span>read more</span><span>read more</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="home">
                <div class="background_image" style="background-image:url(https://res.cloudinary.com/beauty-booking/image/upload/v1586874218/cover-bg_nnwh6d.jpg)"></div>

                <partial name="_HeaderPartial" />

                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content">
                                    <div class="home_title">@this.ViewData["Title"]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="container p-5">
            <main role="main">
                @this.RenderBody()
            </main>
        </div>

        <!-- Footer -->
        <partial name="_FooterPartial" />
    </div>

    <environment names="Development">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/styles/bootstrap4/popper.js"></script>
        <script src="~/styles/bootstrap4/bootstrap.min.js"></script>
        <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="~/plugins/easing/easing.js"></script>
        <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/styles/bootstrap4/popper.js"></script>
        <script src="~/styles/bootstrap4/bootstrap.min.js"></script>
        <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="~/plugins/easing/easing.js"></script>
        <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
