@using BeautyBooking.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
        <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
        <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
        <link rel="stylesheet" type="text/css" href="~/styles/sidebar.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
        <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
        <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
        <link rel="stylesheet" type="text/css" href="~/styles/sidebar.css">
    </environment>
</head>
<body>
    <div class="super_container">

        <!-- Menu -->
        <partial name="_MenuPartial" />

        <!-- Home -->

        <div class="home">
            <div class="background_image" style="background-image:url(@GlobalConstants.Images.CoverBackground)"></div>

            <partial name="_HeaderPartial" />

            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">@this.ViewData["Title"]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <partial name="_AdminSidebarPartial" />

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid mt-3 mb-3">
                        <main role="main">
                            @this.RenderBody()
                        </main>
                    </div>
                </div>

            </div>
        </div>

        <!-- Footer -->
        <partial name="_FooterPartial" />
    </div>

    <environment names="Development">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/styles/bootstrap4/popper.js"></script>
        <script src="~/styles/bootstrap4/bootstrap.min.js"></script>
        <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="~/plugins/easing/easing.js"></script>
        <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/styles/bootstrap4/popper.js"></script>
        <script src="~/styles/bootstrap4/bootstrap.min.js"></script>
        <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="~/plugins/easing/easing.js"></script>
        <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
