@model BeautyBooking.Web.ViewModels.Salons.SalonsPaginatedListViewModel
@{
    this.ViewData["Title"] = "Beauty Salons";
}

<div>
    @await Component.InvokeAsync("CategoriesSimpleList")
</div>
<div class="text-center text-dark pb-5">
    <h2><strong>@this.ViewData["CategoryName"]?.ToString()</strong></h2>
</div>

@if (!Model.Salons.Any())
{
    <h2 class="ml-5">No results!</h2>
}

<div class="row row-eq-height">
    @foreach (var salon in Model.Salons)
    {
        <div class="col-xl-3 col-md-6">
            <div class="doctor">
                <div class="doctor_image"><img src="@salon.ImageUrl" alt=""></div>
                <div class="doctor_content">
                    <div class="doctor_name">
                        <a asp-area="" asp-controller="Salons" asp-action="Details" asp-route-id="@salon.Id">@salon.Name</a>
                    </div>
                    <div class="doctor_title"><strong>@salon.CategoryName</strong></div>
                    <div class="doctor_title">@salon.CityName, @salon.Address</div>
                    <div class="doctor_title ml-2">
                        <div class="button button_1 elements_button mt-2">
                            <a asp-area="" asp-controller="Salons" asp-action="Details" asp-route-id="@salon.Id">
                                <span>See Services</span>
                                <span>See Services</span>
                            </a>
                        </div>
                    </div>
                    <div class="doctor_link">
                        <a asp-area="" asp-controller="Salons" asp-action="Details" asp-route-id="@salon.Id">+</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.Salons.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Salons.HasNextPage ? "disabled" : "";
}

<div class="row ml-5">
    <div class="m-5">
        <a asp-action="Index"
           asp-route-sortId="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.Salons.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           style="color: #BA55D3" class="btn btn-outline-secondary btn-lg @prevDisabled">
            &#x2190; Previous Page
        </a>
    </div>
    <div class="m-5">
        <a asp-action="Index"
           asp-route-sortId="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.Salons.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           style="color: #BA55D3" class="btn btn-outline-secondary btn-lg @nextDisabled">
            Next Page &#x2192;
        </a>
    </div>
</div>
