@model BeautyBooking.Web.ViewModels.Administration.Users.UsersListViewModel
@{
    this.ViewData["Title"] = "Users";
}

<h1>All Users (@Model.Users.Count())</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">CreatedOn</th>
            <th scope="col">Email</th>
            <th scope="col">Appointments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in this.Model.Users)
        {
            <tr>
                <th scope="row">@user.UserName</th>
                <td>@user.CreatedOn</td>
                <td>@user.Email</td>
                <td>@user.AppointmentsCount</td>
            </tr>
        }
    </tbody>
</table>