@model BeautyBooking.Web.ViewModels.SalonManager.Salons.SalonInputModel
@{
    this.ViewData["Title"] = "Add Salon";
    var categories = this.ViewData["Categories"] as IEnumerable<string>;
    var cities = this.ViewData["Cities"] as IEnumerable<string>;
}

<div class="col-lg-6 contact_col">
    <div class="info_form_container">
        <div class="info_form_title">New Salon</div>

        <form method="post" enctype="multipart/form-data" class="info_form">

            <label asp-for="@Model.Name"></label>
            <input type="text" asp-for="@Model.Name" class="info_input" required="required">

            <label asp-for="@Model.Category"></label>
            <select asp-for="@Model.Category" name="Category" class="info_form_dep info_input info_select" required="required">
                @foreach (var category in categories)
                {
                    <option value="@category">@category</option>
                }
            </select>

            <label asp-for="@Model.City"></label>
            <select asp-for="@Model.City" class="info_form_dep info_input info_select" required="required">
                @foreach (var city in cities)
                {
                    <option value="@city">@city</option>
                }
            </select>

            <label asp-for="@Model.Address"></label>
            <input type="text" asp-for="@Model.Address" class="info_input" required="required">

            <label asp-for="@Model.Image"></label>
            <input type="file" asp-for="@Model.Image" class="info_input image-upload" />

            <button class="button button-large button_1 elements_button my-4" type="submit">
                <a asp-area="SalonManager" asp-controller="Salons" asp-action="AddSalon">
                    <span>register salon</span><span>register salon</span>
                </a>
            </button>

        </form>
        <div class="button button-large button_2 elements_button">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <span>Cancel</span><span>Cancel</span>
            </a>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}