@model BeautyBooking.Web.ViewModels.Administration.Blog.BlogPostInputModel
@{
    this.ViewData["Title"] = "Add Blog Post";
}

<div class="col-lg-8 contact_col">
    <div class="info_form_container">
        <div class="info_form_title">New Blog Post</div>

        <form method="post" enctype="multipart/form-data" class="info_form">

            <label asp-for="@Model.Title"></label>
            <input type="text" asp-for="@Model.Title" class="info_input" required="required">

            <label asp-for="@Model.Author"></label>
            <input type="text" asp-for="@Model.Author" class="info_input" required="required">

            <label asp-for="@Model.Image"></label>
            <input type="file" asp-for="@Model.Image" class="info_input image-upload" />

            <label asp-for="@Model.Content"></label>
            <textarea type="text" asp-for="@Model.Content" class="contact_textarea" required="required"></textarea>

            <button class="button button-large button_1 elements_button my-4" type="submit">
                <a asp-area="Administration" asp-controller="Blog" asp-action="AddBlogPost">
                    <span>add blog post</span><span>add blog post</span>
                </a>
            </button>

        </form>
        <div class="button button-large button_2 elements_button">
            <a asp-area="Administration" asp-controller="Blog" asp-action="Index">
                <span>Cancel</span><span>Cancel</span>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}