@model BeautyBooking.Web.ViewModels.Administration.Salons.SalonsListViewModel
@using BeautyBooking.Common;
@{
    this.ViewData["Title"] = "Salons";
}

<h1>All Salons (@Model.Salons.Count())</h1>

<div class="button button-large button_1 elements_button">
    <a asp-area="Administration" asp-controller="Salons" asp-action="AddSalon">
        <span>Add New Salon</span><span>Add New Salon</span>
    </a>
</div>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Appointments</th>
            <th scope="col">Delete Button</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salon in this.Model.Salons)
        {
            <tr>
                <th scope="row">@salon.Name</th>
                <td>
                    <img class="align-self-center" src="@salon.ImageUrl" style="width:180px;height:120px;">
                </td>
                <td>@salon.CategoryName</td>
                <td>@salon.CityName</td>
                <td>@salon.Address</td>
                <td>@salon.AppointmentsCount</td>
                <td>
                    @if (salon.Id <= GlobalConstants.SeededDataCounts.Salons)
                    {
                        <div class="text-muted" style="font-size:smaller">
                            Seeded Data <br />Cannot Be Deleted
                        </div>
                    }
                    else
                    {
                        <div class="button button_2 elements_button">
                            <a asp-area="Administration" asp-controller="Salons" asp-action="DeleteSalon" asp-route-id="@salon.Id"><span>Delete</span><span>Delete</span></a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
