@model BeautyBooking.Web.ViewModels.BlogPosts.BlogPostViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<div class="row">
    <!-- News Posts -->
    <div class="col-lg-12">
        <div class="news_posts">
            <!-- News Post -->
            <div class="news_post">
                <div class="news_post_image"><img src="@Model.ImageUrl" alt=""></div>
                <div class="news_post_content">
                    <div class="news_post_title"><a href="#">@Model.Title</a></div>
                    <div class="news_post_info">
                        <ul class="d-flex flex-row align-items-center justify-content-start">
                            <li><a href="#">by @Model.Author</a></li>
                            <li><a href="#">@Model.CreatedOn</a></li>
                        </ul>
                    </div>
                    <div class="news_post_text">
                        <p>@Model.Content</p>
                    </div>
                </div>
            </div>

            @if (Model.Id < (int)ViewData["AllPostsCount"])
            {
                <div class="button button-large button_1 elements_button">
                    <a asp-area="" asp-controller="BlogPosts" asp-action="Details" asp-route-id="@(Model.Id + 1)"><span> &lt; Previous</span><span> &lt; Previous</span></a>
                </div>
            }

            <div class="button button-large button_3 elements_button">
                <a asp-area="" asp-controller="BlogPosts" asp-action="Index"><span>Back To All Blog Posts</span><span>Back To All Blog Posts</span></a>
            </div>

            @if (Model.Id > 1)
            {
                <div class="button button-large button_1 elements_button">
                    <a asp-area="" asp-controller="BlogPosts" asp-action="Details" asp-route-id="@(Model.Id - 1)"><span>Next &gt;</span><span>Next &gt;</span></a>
                </div>
            }

        </div>
    </div>
</div>