@model BeautyBooking.Web.ViewModels.BlogPosts.BlogPostsListViewModel
@{
    this.ViewData["Title"] = "Blog";
}

<div class="row">

    <!-- News Posts -->
    <div class="col-lg-8">
        <div class="news_posts">
            @foreach (var blogPost in Model.BlogPosts)
            {
                <hr class="bg-dark mx-4" style="height: 6px;" id="@blogPost.Id" />

                <!-- News Post -->
                <div class="news_post">
                    <div class="news_post_image"><img src="@blogPost.ImageUrl" alt=""></div>
                    <div class="news_post_content">
                        <div class="news_post_title"><a asp-area="" asp-controller="Blog" asp-action="Details" asp-route-id="@blogPost.Id">@blogPost.Title</a></div>
                        <div class="news_post_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a asp-area="" asp-controller="Blog" asp-action="Details" asp-route-id="@blogPost.Id">by @blogPost.Author</a></li>
                                <li><a asp-area="" asp-controller="Blog" asp-action="Details" asp-route-id="@blogPost.Id">@blogPost.CreatedOn</a></li>
                            </ul>
                        </div>
                        <div class="button news_post_button"><a asp-area="" asp-controller="BlogPosts" asp-action="Details" asp-route-id="@blogPost.Id"><span>read</span><span>read</span></a></div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4">
        <div class="news_sidebar">
            <!-- Latest News -->
            <div class="sidebar_latest">
                <div class="sidebar_title">Latest Blog Posts</div>
                <div class="sidebar_latest_container">
                    @foreach (var blogPost in Model.BlogPosts)
                    {
                        <!-- Latest News Post -->
                        <div class="latest d-flex flex-row align-items-start justify-content-start">
                            <div><div class="latest_image"><img src="@blogPost.ImageUrl" alt=""></div></div>
                            <div class="latest_content">
                                <div class="latest_title"><a href="#@blogPost.Id">@blogPost.Title</a></div>
                                <div class="latest_info">
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        <li><a>by @blogPost.Author</a></li>
                                        <li><a>@blogPost.CreatedOn.Date</a></li>
                                    </ul>
                                </div>
                                <div class="latest_comments"><a href="#@blogPost.Id">Jump To This</a></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>